
button [id="1"]{
  text-color:white;
  background-color:green;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button [id="2"]{
  text-color:white;
  background-color:yellow;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button [id="3"]{
  text-color:white;
  background-color:sky blue;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
    background-repeat:no-repeat;
  
}
